<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ログイン</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <!-- Webアプリのロゴ設定 -->
    <link
      rel="icon"
      href="https://res.cloudinary.com/dqtfx88ou/image/upload/v1764137468/icon_fgxqed.png"
    />

    <!-- スマホ用 -->
    <link
      rel="apple-touch-icon"
      href="https://res.cloudinary.com/dqtfx88ou/image/upload/v1764137468/icon_fgxqed.png"
    />
  </head>
  <body>
    <div class="login-card">
      <div class="logo-icon">
        <img
          src="https://res.cloudinary.com/dqtfx88ou/image/upload/v1764137468/icon_fgxqed.png"
          alt="温泉アイコン"
        />
      </div>

      <h2 class="login-title">ログイン</h2>

      <form th:action="@{/login}" method="post" th:object="${userForm}">
        <p
          th:if="${loginError != null}"
          th:text="${loginError}"
          style="
            color: red;
            font-weight: bold;
            margin-bottom: 12px;
            text-align: center;
          "
        ></p>

        <label>ユーザー名</label>
        <input type="text" name="username" required />

        <label>パスワード</label>
        <input type="password" name="password" required />

        <button class="login-btn" type="submit">ログイン</button>
      </form>

      <div class="register-links">
        <a th:href="@{/register}">会員登録へ</a>
        <a href="/onsen/list">トップへ戻る</a>
      </div>
    </div>

    <!-- ロード中 -->
    <div
      id="loading-screen"
      style="display: none; opacity: 0; visibility: hidden"
    >
      <div class="loading-wrapper">
        <p id="loadingWave" class="loading-wave">Loading...</p>
      </div>
    </div>
    <script th:src="@{/js/loader.js}"></script>
  </body>
</html>
